.img-wrapp {
  height: 350px;
  overflow-y: hidden;
}
.maxWidth {
  width: 100%;
  max-width: 350px;
}
.imgSize {
  max-width: 100px;
}
.title {
  text-decoration: underline;
  cursor: pointer;
  color: #075eff;
}
.height {
  max-height: 150px;
  height: 100%;
}
